@font-face {
    font-family: "Dash";
    src: url("../../assets/fonts/Mont-HeavyDEMO.otf");
}

@font-face {
    font-family: "Dashy";
    src: url("../../assets/fonts/Mont-ExtraLightDEMO.otf");
}

.profile {
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.profile-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.profile-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userimg{
    width: 30%;
}

.postProfile{
    background-color: white;
    width: 80%;
    border-radius: 8px;
}

.own-posts{
    font-family: "Dash";
}

.profile-name{
    font-family: "Dashy";
}

.user-posts{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.postProfile{
    width: 100%;
    text-align: center;
}