.main-post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid black;
    border-radius: 8px;
    padding: 2em;
}
.post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}