.main-post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    width: 80vw;
}

.posts-header{
    background-color: black;
    width: 100%;
    color: white;
    font-size: 2em;
    padding-left: 2em;
}

.post-map{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    font-size: 1.6em;
    background-color: white;
}

.post-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    border-right: solid grey 1px;
    height: 100%;
    padding: 0.8em;
}

.commentaries {
    border-left: solid black 1px;
    padding: 0.8em;
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;;
  }


.post-title {
    font-weight: bold;
}